@using E_Nompilo_Healthcare_system.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@using E_Nompilo_Healthcare_system.UserClaimsIdentity;
@inject SignInManager<HealthcareSystemUser> SignInManager
@inject UserManager<HealthcareSystemUser> UserManager
@{
    var gender = ViewBag.Gender;
    var lastname = ViewBag.LastName;
    var role = ViewBag.Role;
    var firstName = ViewBag.FirstName;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"  />
    <link rel="icon" type="image/x-icon" href="~/images/logo.png" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/PatientDash.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/PatientDash.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico" asp-append-version="true" />
    <link rel="stylesheet" href="~/E_Nompilo_Healthcare_system.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" asp-append-version="true">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <title> @ViewData["Title"] - Home page</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500" rel="stylesheet" asp-append-version="true" />
    <link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" asp-append-version="true" />
   
    <link href="~/Set/plugins/simplebar/simplebar.css" rel="stylesheet" asp-append-version="true" />
    <link id="sleek-css" rel="stylesheet" href="~/Set/css/sleek.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" asp-append-version="true">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" asp-append-version="true">
   @* <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" asp-append-version="true">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" asp-append-version="true">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" asp-append-version="true">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" asp-append-version="true">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js" asp-append-version="true"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" asp-append-version="true"></script>*@
    <meta name="viewport" content="width=device-width" asp-append-version="true" />
    <title>@ViewBag.Title</title>

</head>

@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("PATIENT"))
    {
        <body class="header-fixed sidebar-fixed sidebar-dark header-light" id="body">

            <div id="toaster"></div>
            <div class="wrapper">

                <!-- ====================================
                ——— LEFT SIDEBAR WITH OUT FOOTER
                ===================================== -->
                <aside class="left-sidebar bg-sidebar">

                    <div id="sidebar" class="sidebar sidebar-with-footer">

                        <!-- Aplication Brand -->
                        <div class="app-brand">
                            <a style="width:300px; padding-left:6px;" title=" Dashboard">
                             
                                <img src="~/images/111.png" class=" imgg float-start" >
                               
                            </a>
                        </div>

                        <!-- begin sidebar  -->
                        <div class="" data-simplebar style="height: 100%;">

                            <ul class="nav sidebar-inner" id="sidebar-menu">
                                 <li class="has-sub active expand">

                                    <a asp-controller="Dashboard" asp-action="Index" class="sidenav-item-link" data-target="#dashboard"
                               aria-expanded="false" aria-controls="dashboard">
                                        <i style="font-size:24px" class=" fa fa-fw fa-home"></i>
                                        <span class="nav-text">Home</span>
                                    </a>

                                </li>
                                <!-- Dashboard link -->
                                <li class="has-sub  expand">

                                    <a class="sidenav-item-link" asp-controller="ChronicMed" asp-action="ChronicMed" data-target="#dashboard"
                               aria-expanded="false" aria-controls="dashboard">
                                        <i class="mdi mdi-view-dashboard-outline"></i>
                                        <span class="nav-text">Chronic Dashboard</span>
                                    </a>

                                </li>
                                <!-- Calender link -->
                                <li class="has-sub">
                                    <a asp-controller="ChronicMed" asp-action="Request_Prescription" class="sidenav-item-link" data-target="#documentation"
                   aria-expanded="false" aria-controls="documentation">
                                        <i class="mdi mdi-pencil-box-multiple"></i>
                                        <span class="nav-text">Request Prescription</span> 
                                    </a>

                                    <ul class="collapse " id="app" data-parent="#sidebar-menu">

                                        <div class="su">
                                       
                        </div>
                        </ul>
                        </li>


                        
                        <li class="has-sub ">
                                    <a asp-controller="ChronicMed" asp-action="Refillrequest" class="sidenav-item-link" data-target="#documentation"
                               aria-expanded="false" aria-controls="documentation">
                                        <i class='fas fa-heartbeat' style='font-size:24px'></i>
                                <span class="nav-text">Request Refill</span>
                            </a>

                        </li>

                        @* <li class="has-sub ">
                                    <a asp-controller="ChronicMed" asp-action="RequestRefill" class="sidenav-item-link" data-target="#documentation"
                               aria-expanded="false" aria-controls="documentation">
                                        <i class='fas fa-heartbeat' style='font-size:24px'></i>
                                <span class="nav-text">View Refill Request</span>
                            </a>

                        </li> *@
                                
                        <!-- Help link -->
                                <li class="has-sub ">
                                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#icons"
                                       aria-expanded="false">
                                        <i class="fa fa-list" ></i>
                                        <span class="nav-text">Viewing List</span> <b class="caret"></b>
                                    </a>

                                    <ul class="collapse " id="icons" data-parent="#sidebar-menu">
                                        <div class="sub-menu">
                                        <li class="">
                                            <a class="sidenav-item-link" asp-controller="ChronicMed" asp-action="requestPresrip_List" >
                                                <span class="nav-text">View Request Prescription</span>
                                            </a>
                                        </li>

                                        <li class="">
                                            <a asp-controller="ChronicMed" asp-action="RequestRefill" class="sidenav-item-link" data-target="#documentation"
                                               aria-expanded="false" aria-controls="documentation">
                                               @*  <i class='fas fa-heartbeat' style='font-size:24px'></i> *@
                                                <span class="nav-text">View Refill Request</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a asp-controller="ChronicMed" asp-action="Patientprescriptions" class="sidenav-item-link" data-target="#documentation"
                                               aria-expanded="false" aria-controls="documentation">
                                               @*  <i class="mdi fas fa-plus-square"></i> *@
                                                <span class="nav-text">View Prescription</span>
                                            </a>
                                        </li>
                    </div>
                    </ul>
                    </li>
                     @* <li class="has-sub ">
                            <a asp-controller="ChronicMed" asp-action="Patientprescriptions" class="sidenav-item-link" data-target="#documentation"
                               aria-expanded="false" aria-controls="documentation">
                                <i class="mdi fas fa-plus-square"></i>
                            <span class="nav-text">View Prescription</span>
                        </a>
                    </li> *@
                       

                   @*  <li class="has-sub ">
                        <a  class="sidenav-item-link" data-target="#documentation"
                               aria-expanded="false" aria-controls="documentation">
                            <i class="mdi mdi-book-open-page-variant"></i>
                            <span class="nav-text">Reports</span>
                        </a>
                    </li> *@

                    <!-- sidebar Footer -->
                   
            </div>
            </aside>

            <!-- ====================================
            ——— PAGE Header
            ===================================== -->
            <div class="page-wrapper">

                <!-- Header -->
                <header class="main-header " id="header">
                    <nav class="navbar navbar-static-top navbar-expand-lg">
                        <!-- Sidebar toggle button -->
                       @*<a  asp-controller="Dashboard" asp-action="Index">
                            <i class="fa fa-fw fa-home ml-2" style="font-size:28px; color:black;"></i>
                           
                        </a>*@
                        <button id="sidebar-toggler" class="sidebar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                        </button>
                        <!-- search form -->
                        <div class="search-form d-none d-lg-inline-block">
                            <div class="input-group">
                                <button type="button" name="search" id="search-btn" class="btn btn-flat">
                                    <i class="mdi mdi-magnify"></i>
                                </button>
                                <input type="text" name="query" id="search-input" class="form-control" placeholder="search"
                               autofocus autocomplete="off" />
                            </div>
                            <div id="search-results-container">
                                <ul id="search-results"></ul>
                            </div>
                        </div>

                        <div class="navbar-right ">
                            <ul class="nav navbar-nav">
                                <li class="dropdown notifications-menu custom-dropdown">
                                   



                                <li class="right-sidebar-in right-sidebar-2-menu">
                                    <i class="mdi mdi-settings "></i>
                                </li>
                                <!-- User Account -->
                                <li class="dropdown user-menu">
                                    <button href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                            <i class="fa fa-user " aria-hidden="true" style='font-size:23px ;'></i>
                                        <span class="d-none d-lg-inline-block"><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@ViewData["LastNameUser"] </a></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <!-- User image -->
                                        <li class="dropdown-header">
                                            
                                            <div class="d-inline-block">
                                                    <a class="nav-link text-dark"> <i class='fas fa-user-check' style='font-size:20px'></i>@ViewBag.Role</a>
                                                <small class="pt-1"></small>
                                            </div>
                                        </li>

                                        <li>
                                            <a asp-controller="UserProfile" asp-action="Index">
                                                <i class="mdi mdi-account"></i> My Profile
                                            </a>
                                        </li>


                                        <li class="right-sidebar-in">
                                            <a href="javascript:0"> <i class="mdi mdi-settings"></i> Account </a>
                                        </li>

                                        <li class="dropdown-footer">
                                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                                <button type="submit" style="font-size:18px;"><i style="font-size:18px;" class="mdi mdi-logout"></i> Logout</button>
                                            </form>
                                                    @* <a asp-area="" asp-controller="Home"><i class="mdi mdi-logout"></i> Log Out</a>*@
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </header>


                <!-- ====================================
                ——— CONTENT WRAPPER
                ===================================== -->
                <div class="content-wrapper">
                    <div class="content">
                            @RenderBody()
                    </div>
                </div>

        </body>
    }
    else if (User.IsInRole("ADMIN"))
    {
        <body class="header-fixed sidebar-fixed sidebar-dark header-light" id="body">

            <div class="content-wrapper">
                <div class="content">
                    @RenderBody()
                </div>
            </div>
        </body>
    
    }
    else if (User.IsInRole("DOCTOR"))
    {
    <body class="header-fixed sidebar-fixed sidebar-dark header-light" id="body">

        <div class="content-wrapper">
            <div class="content">
                @RenderBody()
            </div>
        </div>
    </body>
    }
    else if (User.IsInRole("PHARMACIST"))
    {
        <body class="header-fixed sidebar-fixed sidebar-dark header-light" id="body">

            <div class="content-wrapper">
                <div class="content">
                    @RenderBody()
                </div>
            </div>
        </body>
    
    }
    else
    {
        <h2>No Role registered</h2>
    }

}
<script src="~/Set/plugins/jquery/jquery.min.js" asp-append-version="true"></script>
<script src="~/Set/plugins/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
<script src="~/Set/plugins/simplebar/simplebar.min.js" asp-append-version="true"></script>
<script src="~/Set/js/sleek.js"></script>



</html>
