@model E_Nompilo_Healthcare_system.Models.Pre_Natal_Care_Alert

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_PreNatalLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Pre_Natal_Care_Alert</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastView)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastView)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntendedUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntendedUser)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AlertID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
