@model IEnumerable<E_Nompilo_Healthcare_system.Models.Pre_Natal_Care_Alert>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PreNatalLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastView)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntendedUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastView)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntendedUser)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AlertID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AlertID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AlertID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
