@model IEnumerable<E_Nompilo_Healthcare_system.Models.Fetal_Monitoring>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PreNatalLayout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
</head>
<body>
    @if (TempData["Results"] != null)
    {
        <div id="myModal" class="modal fade" data-bs-backdrop="satic" data-bs-keyboard="false" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header text-context">
                        <h3 class="modal-title"> Fetal Monitoring Results</h3>
                        <button type="button" id="close" class="close btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="~/images/Fetal Monitoring1.jpg" class="rounded mx-auto d-block" style="width:200px" />
                        <h4>@TempData["Results"]</h4>
                    </div>
                </div>
            </div>
        </div>
    }

    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>

    <table id="myTable" class="table table-bordered border-danger table-striped">
        <thead class="table-dark table-active text-white text-uppercase">
            <tr>
                <th class="text-white">@Html.DisplayNameFor(model => model.Date)</th>
                <th class="text-white">@Html.DisplayNameFor(model => model.MainUser) </th>
                <th class="text-white">@Html.DisplayNameFor(model => model.Status)</th>
                <th class="text-white">@Html.DisplayNameFor(model => model.Total) </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MainUser.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        

                        <a asp-action="Delete" asp-route-id="@item.FetalMonitorID" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                
            }
        </tbody>
    </table>
    <script src="~/js/site.js"></script>

    <!-- DataTables CSS file -->
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- DataTables JavaScript file -->
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.bootstrap4.min.js"></script>
</body>
</html>


