@model IEnumerable<E_Nompilo_Healthcare_system.Models.Review>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_FamilyPlanLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }

        a {
            text-decoration: none;
            color: #007bff;
        }

        a:hover {
            text-decoration: underline;
        }

        p {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    Full Names
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Method)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reviews)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MainUser.FirstName) @Html.DisplayFor(modelItem => item.MainUser.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Method)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reviews)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>                   
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
