@model E_Nompilo_Healthcare_system.Models.Counselling

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_FamilyPlanLayout.cshtml";
}



<div>
    <h4>Counselling Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainUser.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
