@model IEnumerable<E_Nompilo_Healthcare_system.Models.Referrals>
@using E_Nompilo_Healthcare_system.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<HealthcareSystemUser> SignInManager
@inject UserManager<HealthcareSystemUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PreNatalLayout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
</head>

<div id="mainDiv" class="p-2">

    <div id="Header" class="bg-primary">
        <h3 class="text text-white text-center">List of referrals</h3>
    </div>
    <button id="btnPrint" class="btn btn-primary">
        Print Referrals
    </button>

    <div id="Information" class="row">
        <div class="col-8">
            <img src="~/images/111.png" style="width:200px" />
        </div>

        <div class="col-4 justisy-content-md-end">
            <h4>Patient Information</h4>
            <p>First Name: @UserManager.GetUserAsync(User).Result.FirstName</p>
            <p>Last Name: @UserManager.GetUserAsync(User).Result.LastName</p>
            <p>Email Address: @UserManager.GetUserAsync(User).Result.Email</p>
        </div>
    </div>

    <table id="myTable" class="table table-bordered border-danger table-striped">
        <thead class="table-dark table-active text-uppercase text-white">
            <tr class="text-White">
                <th class="text-white">@Html.DisplayNameFor(model => model.ReferralDate)</th>
                <th class ="text-white">@Html.DisplayNameFor(model => model.Reasons)</th>
                <th class="text-white">@Html.DisplayNameFor(model => model.SpecificConcerns)</th>
                <th class="text-white">@Html.DisplayNameFor(model => model.ReferredTo)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(ModelItem => item.ReferralDate)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.Reasons)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.SpecificConcerns)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.ReferredTo)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script defer>
    window.onload = function () {
        console.log("Its Working");
        document.getElementById('Information').style.visibility = "hidden";
        document.getElementById('MyTable').id = "Table";
    }
    const Prntbtn = document.getElementById('btnPrint');
    Prntbtn.addEventListener("click", myPrint);

    function myPrint() {
        document.getElementById('Information').style.visibility = "visible";
        document.getElementById('Header').style.visibility = "hidden";
        document.getElementById('mainDiv').className = "border border-primary p-2";
        document.getElementById('sidebar-menu').style.visibility = "visible";
        Prntbtn.style.visibility = "hidden";
        window.print();
        Prntbtn.style.visibility = "visible";
        document.getElementById('Information').style.visibility = "hidden";
        document.getElementById('sidebar-menu').style.visibility = "visible";
        document.getElementById('Header').style.visibility = "visible";
        document.getElementById('mainDiv').className = "p-2"
    }
</script> 
<!-- DataTables CSS file -->
<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- DataTables JavaScript file -->
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.bootstrap4.min.js"></script>

